$black: #2C3038;
$light-blue: #0F8FF9;
$little-dark-blue: #0072EC; 
$white: #FFF;
$dark-blue: #051534;
$light-grey: #FBFBFB;
$green: #00C064;
$little-dark-green: #10B265;
$blueish-grey: #8394B5;
$half-light: rgba(255, 255, 255, 0.50);
$pink: rgb(247, 18, 235);
$yellow: rgb(198, 240, 12);
$little-dark-white: #F8F8F8